
body {
  margin: 0;
  background: #0f0f0f;
  color: white;
}
html, body, #root {
  height: 100%;
  background: #0f0f0f;
}

/* navbar height fix */
.page-center {
  min-height: 100vh;
  padding-top: 80px;  /* 🔥 important */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* full screen center */
.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}

/* main card */
.main-card {
  width: 100%;
  max-width: 420px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255,140,0,0.2);
}

/* heading */
.main-card h1 {
  text-align: center;
  margin-bottom: 20px;
  color: orange;
}
.main-card p {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(171, 175, 171);
}


/* inputs */
.main-card input,
.main-card textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: white;
}

/* button */
.main-card button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;

  border: none;
  background: linear-gradient(145deg, #ff8c00, #cc7000);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px #994d00;
}

.main-card button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #994d00;
}

/* toggle text */
.toggle-text {
  text-align: center;
  margin-top: 15px;
  color: #ccc;   
}

.todo-list {
  margin-top: 20px;
  width: 100%;
}

.todo-list p {
  margin-top: 15px;
  text-align: center;
  color: #aaa;
}

.todo-item {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255,140,0,0.2);
}

.todo-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #111;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  flex: 1;   /* dono equal width */
}


.main-card {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}